# Profiling main skforecast classes and methods

In [1]:
%load_ext autoreload
%autoreload 2
import sys
from pathlib import Path
sys.path.insert(1, str(Path.cwd().parent))
str(Path.cwd().parent)

'c:\\Users\\jaesc2\\GitHub\\skforecast'

In [2]:
import platform
import psutil
import skforecast
import pandas as pd
import numpy as np
import scipy
import sklearn
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from lightgbm import LGBMRegressor
from skforecast.recursive import ForecasterRecursiveMultiSeries
from skforecast.model_selection import grid_search_forecaster_multiseries
from skforecast.utils.utils import align_series_and_exog_multiseries
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import make_column_transformer
from skforecast.preprocessing import series_long_to_dict
from skforecast.preprocessing import exog_long_to_dict
from skforecast.datasets import fetch_dataset

%load_ext pyinstrument
%load_ext line_profiler

In [3]:
n = 5000
n_series = 500
series = pd.DataFrame(
    {f"series_{i}": np.random.randint(1, 100, n) for i in range(1, n_series)
    },
    index=pd.date_range(start="2023-01-01", periods=n, freq="D"),
)

freq = series.index.freq
series.index.name = "datetime"
series = series.reset_index()
series = pd.melt(series, id_vars="datetime", var_name="series_id", value_name="value")
series = series.groupby("series_id", sort=False).apply(
    lambda x: x.set_index("datetime").asfreq("D"), include_groups=False
)
display(series)

exog = pd.DataFrame(
    {
        "exog_1": np.random.randint(1, 10, n),
        "exog_2": np.random.randint(1, 10, n),
        "exog_3": np.random.randint(1, 10, n),
        "exog_4": np.random.randint(1, 10, n),
        "exog_5": np.random.randint(1, 10, n),
        "exog_6": np.random.randint(1, 10, n),
    },
    index=pd.date_range(start="2023-01-01", periods=n, freq="D"),
)
exog.index.name = "datetime"
exog = [exog.assign(series_id=f"series_{i}") for i in range(1, n_series)]
# exog = [exog_i.copy().sample(frac=0.8).sort_index() for exog_i in exog]
exog = pd.concat(exog)
exog = exog.set_index(["series_id", exog.index])
display(exog)

# Formato dict
series_dict = {
    sid: series.loc[sid]['value'] for sid in series.index.levels[0]
}

exog_dict = {
    sid: exog.loc[sid]for sid in exog.index.levels[0]
}

                       value
series_id  datetime
series_1   2023-01-01     50
           2023-01-02     25
           2023-01-03     74
           2023-01-04     31
           2023-01-05     28
...                      ...
series_499 2036-09-04     67
           2036-09-05     75
           2036-09-06     31
           2036-09-07     11
           2036-09-08     46

[2495000 rows x 1 columns]

                       exog_1  exog_2  exog_3  exog_4  exog_5  exog_6
series_id  datetime
series_1   2023-01-01       2       9       3       2       9       6
           2023-01-02       7       4       2       7       5       2
           2023-01-03       5       4       7       3       4       7
           2023-01-04       7       8       4       2       3       7
           2023-01-05       6       9       7       3       1       5
...                       ...     ...     ...     ...     ...     ...
series_499 2036-09-04       5       2       6       5       9       7
           2036-09-05       7       3       7       2       3       2
           2036-09-06       5       7       9       3       9       5
           2036-09-07       1       1       7       9       4       4
           2036-09-08       7       3       9       3       9       4

[2495000 rows x 6 columns]

In [43]:
type(series.loc['series_1'])

pandas.core.frame.DataFrame

In [41]:
na = series.columns[0]
series[na]

series_id   datetime
series_1    2023-01-01    50
            2023-01-02    25
            2023-01-03    74
            2023-01-04    31
            2023-01-05    28
                          ..
series_499  2036-09-04    67
            2036-09-05    75
            2036-09-06    31
            2036-09-07    11
            2036-09-08    46
Name: value, Length: 2495000, dtype: int32

In [37]:
%%timeit

series.iloc[:, 0]

30.8 μs ± 647 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [29]:
series_dict

{'series_1': datetime
 2023-01-01    50
 2023-01-02    25
 2023-01-03    74
 2023-01-04    31
 2023-01-05    28
               ..
 2036-09-04    67
 2036-09-05    86
 2036-09-06    94
 2036-09-07    96
 2036-09-08    95
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_2': datetime
 2023-01-01    38
 2023-01-02    91
 2023-01-03    58
 2023-01-04     6
 2023-01-05     4
               ..
 2036-09-04    39
 2036-09-05    23
 2036-09-06    21
 2036-09-07    51
 2036-09-08    49
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_3': datetime
 2023-01-01    56
 2023-01-02    20
 2023-01-03    20
 2023-01-04    29
 2023-01-05    85
               ..
 2036-09-04    93
 2036-09-05    19
 2036-09-06    74
 2036-09-07    71
 2036-09-08    70
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_4': datetime
 2023-01-01    99
 2023-01-02    44
 2023-01-03    95
 2023-01-04    51
 2023-01-05    84
               ..
 2036-09-04    94
 2036-09-05    52
 2036-09-06    52
 2036-09-07    14
 2036-09-08     8
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_5': datetime
 2023-01-01    39
 2023-01-02    29
 2023-01-03    99
 2023-01-04    82
 2023-01-05    22
               ..
 2036-09-04    47
 2036-09-05    13
 2036-09-06     7
 2036-09-07    87
 2036-09-08    40
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_6': datetime
 2023-01-01     9
 2023-01-02    30
 2023-01-03    83
 2023-01-04    39
 2023-01-05    27
               ..
 2036-09-04    41
 2036-09-05    57
 2036-09-06    44
 2036-09-07    78
 2036-09-08    18
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_7': datetime
 2023-01-01     6
 2023-01-02    22
 2023-01-03    81
 2023-01-04    83
 2023-01-05    54
               ..
 2036-09-04    91
 2036-09-05    96
 2036-09-06    61
 2036-09-07    96
 2036-09-08     3
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_8': datetime
 2023-01-01    21
 2023-01-02    52
 2023-01-03    22
 2023-01-04    64
 2023-01-05    12
               ..
 2036-09-04    93
 2036-09-05    79
 2036-09-06     3
 2036-09-07    80
 2036-09-08    24
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_9': datetime
 2023-01-01    45
 2023-01-02    62
 2023-01-03    50
 2023-01-04    54
 2023-01-05     1
               ..
 2036-09-04    56
 2036-09-05    38
 2036-09-06    59
 2036-09-07    98
 2036-09-08    99
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_10': datetime
 2023-01-01    93
 2023-01-02    63
 2023-01-03    46
 2023-01-04    54
 2023-01-05     4
               ..
 2036-09-04    44
 2036-09-05    77
 2036-09-06    51
 2036-09-07    35
 2036-09-08    36
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_11': datetime
 2023-01-01    20
 2023-01-02    44
 2023-01-03    39
 2023-01-04    17
 2023-01-05    28
               ..
 2036-09-04    74
 2036-09-05    94
 2036-09-06    20
 2036-09-07    91
 2036-09-08    23
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_12': datetime
 2023-01-01     7
 2023-01-02    84
 2023-01-03    32
 2023-01-04    36
 2023-01-05     5
               ..
 2036-09-04    21
 2036-09-05    16
 2036-09-06    97
 2036-09-07    39
 2036-09-08    74
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_13': datetime
 2023-01-01    63
 2023-01-02    19
 2023-01-03    52
 2023-01-04    79
 2023-01-05     7
               ..
 2036-09-04    87
 2036-09-05    65
 2036-09-06    19
 2036-09-07    92
 2036-09-08    54
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_14': datetime
 2023-01-01    81
 2023-01-02    95
 2023-01-03    27
 2023-01-04    91
 2023-01-05    34
               ..
 2036-09-04     4
 2036-09-05    99
 2036-09-06    12
 2036-09-07    29
 2036-09-08    89
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_15': datetime
 2023-01-01    24
 2023-01-02    51
 2023-01-03    94
 2023-01-04    98
 2023-01-05     3
               ..
 2036-09-04    16
 2036-09-05    22
 2036-09-06    75
 2036-09-07    15
 2036-09-08    36
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_16': datetime
 2023-01-01    72
 2023-01-02    95
 2023-01-03    23
 2023-01-04    63
 2023-01-05    75
               ..
 2036-09-04    92
 2036-09-05    59
 2036-09-06    39
 2036-09-07    18
 2036-09-08    60
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_17': datetime
 2023-01-01    31
 2023-01-02    56
 2023-01-03    53
 2023-01-04    13
 2023-01-05    77
               ..
 2036-09-04    91
 2036-09-05     7
 2036-09-06    77
 2036-09-07    50
 2036-09-08    74
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_18': datetime
 2023-01-01    54
 2023-01-02    35
 2023-01-03    14
 2023-01-04    25
 2023-01-05     6
               ..
 2036-09-04    51
 2036-09-05    86
 2036-09-06    46
 2036-09-07    66
 2036-09-08    62
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_19': datetime
 2023-01-01    76
 2023-01-02    67
 2023-01-03    80
 2023-01-04    63
 2023-01-05    17
               ..
 2036-09-04    24
 2036-09-05    75
 2036-09-06    27
 2036-09-07    46
 2036-09-08     7
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_20': datetime
 2023-01-01    36
 2023-01-02    73
 2023-01-03    72
 2023-01-04    29
 2023-01-05    13
               ..
 2036-09-04    69
 2036-09-05    25
 2036-09-06    23
 2036-09-07     4
 2036-09-08    79
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_21': datetime
 2023-01-01    39
 2023-01-02     3
 2023-01-03    54
 2023-01-04    59
 2023-01-05    90
               ..
 2036-09-04    46
 2036-09-05    98
 2036-09-06    55
 2036-09-07    27
 2036-09-08    59
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_22': datetime
 2023-01-01     8
 2023-01-02    59
 2023-01-03    13
 2023-01-04    89
 2023-01-05    13
               ..
 2036-09-04    95
 2036-09-05    57
 2036-09-06    67
 2036-09-07    15
 2036-09-08    75
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_23': datetime
 2023-01-01    12
 2023-01-02    90
 2023-01-03    56
 2023-01-04    58
 2023-01-05    64
               ..
 2036-09-04    14
 2036-09-05    89
 2036-09-06    82
 2036-09-07    52
 2036-09-08    14
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_24': datetime
 2023-01-01    42
 2023-01-02    77
 2023-01-03    18
 2023-01-04    91
 2023-01-05     3
               ..
 2036-09-04    51
 2036-09-05    44
 2036-09-06    86
 2036-09-07    51
 2036-09-08    55
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_25': datetime
 2023-01-01    84
 2023-01-02    47
 2023-01-03    62
 2023-01-04    19
 2023-01-05    99
               ..
 2036-09-04     8
 2036-09-05    61
 2036-09-06    29
 2036-09-07    95
 2036-09-08    39
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_26': datetime
 2023-01-01     2
 2023-01-02    28
 2023-01-03    62
 2023-01-04    75
 2023-01-05    92
               ..
 2036-09-04    65
 2036-09-05    58
 2036-09-06    24
 2036-09-07    47
 2036-09-08    12
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_27': datetime
 2023-01-01    78
 2023-01-02    21
 2023-01-03     6
 2023-01-04    47
 2023-01-05    12
               ..
 2036-09-04    36
 2036-09-05    35
 2036-09-06    29
 2036-09-07    34
 2036-09-08    34
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_28': datetime
 2023-01-01    81
 2023-01-02    74
 2023-01-03     3
 2023-01-04     9
 2023-01-05    22
               ..
 2036-09-04    26
 2036-09-05    75
 2036-09-06    19
 2036-09-07    86
 2036-09-08    79
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_29': datetime
 2023-01-01    23
 2023-01-02    86
 2023-01-03     4
 2023-01-04    21
 2023-01-05    76
               ..
 2036-09-04    36
 2036-09-05    89
 2036-09-06    66
 2036-09-07    83
 2036-09-08    96
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_30': datetime
 2023-01-01    45
 2023-01-02    50
 2023-01-03    39
 2023-01-04    12
 2023-01-05    50
               ..
 2036-09-04    11
 2036-09-05    51
 2036-09-06    72
 2036-09-07    13
 2036-09-08    39
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_31': datetime
 2023-01-01    93
 2023-01-02    24
 2023-01-03    60
 2023-01-04    28
 2023-01-05    56
               ..
 2036-09-04    41
 2036-09-05    99
 2036-09-06    61
 2036-09-07    63
 2036-09-08    77
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_32': datetime
 2023-01-01    14
 2023-01-02     7
 2023-01-03    89
 2023-01-04    25
 2023-01-05    44
               ..
 2036-09-04    58
 2036-09-05    67
 2036-09-06    78
 2036-09-07    11
 2036-09-08     2
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_33': datetime
 2023-01-01    25
 2023-01-02    11
 2023-01-03    89
 2023-01-04    91
 2023-01-05    91
               ..
 2036-09-04    47
 2036-09-05    26
 2036-09-06    39
 2036-09-07    12
 2036-09-08    51
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_34': datetime
 2023-01-01    91
 2023-01-02    79
 2023-01-03    11
 2023-01-04    74
 2023-01-05    81
               ..
 2036-09-04    61
 2036-09-05     7
 2036-09-06    95
 2036-09-07    90
 2036-09-08    44
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_35': datetime
 2023-01-01    16
 2023-01-02     9
 2023-01-03    39
 2023-01-04    48
 2023-01-05     2
               ..
 2036-09-04    79
 2036-09-05    51
 2036-09-06    95
 2036-09-07    42
 2036-09-08    37
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_36': datetime
 2023-01-01    40
 2023-01-02    43
 2023-01-03    97
 2023-01-04    90
 2023-01-05     9
               ..
 2036-09-04    20
 2036-09-05    33
 2036-09-06    31
 2036-09-07    78
 2036-09-08    45
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_37': datetime
 2023-01-01    95
 2023-01-02    10
 2023-01-03    45
 2023-01-04    41
 2023-01-05    28
               ..
 2036-09-04    51
 2036-09-05     9
 2036-09-06    76
 2036-09-07    34
 2036-09-08    98
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_38': datetime
 2023-01-01    88
 2023-01-02    89
 2023-01-03    40
 2023-01-04     4
 2023-01-05    75
               ..
 2036-09-04    10
 2036-09-05    49
 2036-09-06    11
 2036-09-07    37
 2036-09-08    34
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_39': datetime
 2023-01-01    71
 2023-01-02    90
 2023-01-03    82
 2023-01-04     8
 2023-01-05    71
               ..
 2036-09-04    23
 2036-09-05    12
 2036-09-06    72
 2036-09-07    18
 2036-09-08    39
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_40': datetime
 2023-01-01     4
 2023-01-02    58
 2023-01-03    29
 2023-01-04    23
 2023-01-05    11
               ..
 2036-09-04    68
 2036-09-05    70
 2036-09-06    16
 2036-09-07    74
 2036-09-08    63
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_41': datetime
 2023-01-01    34
 2023-01-02    44
 2023-01-03    40
 2023-01-04    52
 2023-01-05    48
               ..
 2036-09-04    82
 2036-09-05    89
 2036-09-06    86
 2036-09-07    69
 2036-09-08    24
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_42': datetime
 2023-01-01    29
 2023-01-02    74
 2023-01-03    48
 2023-01-04    17
 2023-01-05    63
               ..
 2036-09-04     2
 2036-09-05     9
 2036-09-06    75
 2036-09-07    92
 2036-09-08    60
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_43': datetime
 2023-01-01    26
 2023-01-02    91
 2023-01-03    76
 2023-01-04    65
 2023-01-05     3
               ..
 2036-09-04    43
 2036-09-05     8
 2036-09-06    68
 2036-09-07    91
 2036-09-08    51
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_44': datetime
 2023-01-01    83
 2023-01-02    15
 2023-01-03    19
 2023-01-04     5
 2023-01-05    89
               ..
 2036-09-04     7
 2036-09-05    95
 2036-09-06    70
 2036-09-07    91
 2036-09-08    24
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_45': datetime
 2023-01-01    65
 2023-01-02    24
 2023-01-03    13
 2023-01-04    11
 2023-01-05    59
               ..
 2036-09-04    98
 2036-09-05    49
 2036-09-06    37
 2036-09-07    59
 2036-09-08    21
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_46': datetime
 2023-01-01    86
 2023-01-02     5
 2023-01-03    22
 2023-01-04    30
 2023-01-05    31
               ..
 2036-09-04    73
 2036-09-05    87
 2036-09-06    82
 2036-09-07    82
 2036-09-08    60
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_47': datetime
 2023-01-01    10
 2023-01-02    11
 2023-01-03    64
 2023-01-04    15
 2023-01-05    70
               ..
 2036-09-04    99
 2036-09-05    17
 2036-09-06    17
 2036-09-07    81
 2036-09-08    17
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_48': datetime
 2023-01-01    62
 2023-01-02    87
 2023-01-03    21
 2023-01-04    63
 2023-01-05    56
               ..
 2036-09-04    27
 2036-09-05    37
 2036-09-06    49
 2036-09-07     8
 2036-09-08    33
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_49': datetime
 2023-01-01    46
 2023-01-02    19
 2023-01-03    10
 2023-01-04    12
 2023-01-05    95
               ..
 2036-09-04    45
 2036-09-05    98
 2036-09-06    51
 2036-09-07    36
 2036-09-08    20
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_50': datetime
 2023-01-01    10
 2023-01-02    12
 2023-01-03    89
 2023-01-04    57
 2023-01-05     3
               ..
 2036-09-04    61
 2036-09-05    22
 2036-09-06    31
 2036-09-07     9
 2036-09-08    77
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_51': datetime
 2023-01-01    93
 2023-01-02    88
 2023-01-03    86
 2023-01-04    11
 2023-01-05    45
               ..
 2036-09-04    67
 2036-09-05    68
 2036-09-06    56
 2036-09-07     7
 2036-09-08    88
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_52': datetime
 2023-01-01    17
 2023-01-02    48
 2023-01-03    34
 2023-01-04    20
 2023-01-05    12
               ..
 2036-09-04    85
 2036-09-05    62
 2036-09-06    28
 2036-09-07    20
 2036-09-08    26
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_53': datetime
 2023-01-01    90
 2023-01-02    93
 2023-01-03    76
 2023-01-04    60
 2023-01-05    80
               ..
 2036-09-04    80
 2036-09-05    97
 2036-09-06    51
 2036-09-07    49
 2036-09-08    91
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_54': datetime
 2023-01-01     5
 2023-01-02    18
 2023-01-03    25
 2023-01-04    52
 2023-01-05    95
               ..
 2036-09-04    61
 2036-09-05    95
 2036-09-06     6
 2036-09-07    25
 2036-09-08     4
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_55': datetime
 2023-01-01    16
 2023-01-02    15
 2023-01-03    65
 2023-01-04    43
 2023-01-05    16
               ..
 2036-09-04    86
 2036-09-05    88
 2036-09-06    96
 2036-09-07    48
 2036-09-08    12
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_56': datetime
 2023-01-01    59
 2023-01-02    29
 2023-01-03    16
 2023-01-04    85
 2023-01-05    22
               ..
 2036-09-04    49
 2036-09-05    80
 2036-09-06    46
 2036-09-07    35
 2036-09-08    54
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_57': datetime
 2023-01-01    33
 2023-01-02    50
 2023-01-03    11
 2023-01-04    24
 2023-01-05    43
               ..
 2036-09-04     4
 2036-09-05    74
 2036-09-06    31
 2036-09-07    63
 2036-09-08     8
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_58': datetime
 2023-01-01    33
 2023-01-02    56
 2023-01-03    91
 2023-01-04     5
 2023-01-05    86
               ..
 2036-09-04    38
 2036-09-05    47
 2036-09-06    78
 2036-09-07    41
 2036-09-08    29
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_59': datetime
 2023-01-01    73
 2023-01-02    42
 2023-01-03    78
 2023-01-04    42
 2023-01-05    45
               ..
 2036-09-04    50
 2036-09-05    25
 2036-09-06    77
 2036-09-07    79
 2036-09-08    82
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_60': datetime
 2023-01-01    13
 2023-01-02    37
 2023-01-03    31
 2023-01-04    86
 2023-01-05     9
               ..
 2036-09-04    88
 2036-09-05    45
 2036-09-06    72
 2036-09-07    25
 2036-09-08    50
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_61': datetime
 2023-01-01    51
 2023-01-02     8
 2023-01-03    68
 2023-01-04    48
 2023-01-05    46
               ..
 2036-09-04    96
 2036-09-05    85
 2036-09-06     4
 2036-09-07    20
 2036-09-08    14
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_62': datetime
 2023-01-01    11
 2023-01-02    74
 2023-01-03     6
 2023-01-04    32
 2023-01-05     9
               ..
 2036-09-04    94
 2036-09-05    58
 2036-09-06    32
 2036-09-07    74
 2036-09-08    98
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_63': datetime
 2023-01-01    95
 2023-01-02     8
 2023-01-03    91
 2023-01-04    92
 2023-01-05    58
               ..
 2036-09-04    39
 2036-09-05    32
 2036-09-06    38
 2036-09-07    40
 2036-09-08    41
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_64': datetime
 2023-01-01    12
 2023-01-02    83
 2023-01-03     9
 2023-01-04     5
 2023-01-05    45
               ..
 2036-09-04    12
 2036-09-05    22
 2036-09-06    97
 2036-09-07     2
 2036-09-08    22
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_65': datetime
 2023-01-01    92
 2023-01-02    67
 2023-01-03    27
 2023-01-04    48
 2023-01-05    48
               ..
 2036-09-04    82
 2036-09-05    58
 2036-09-06    84
 2036-09-07     6
 2036-09-08    59
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_66': datetime
 2023-01-01    40
 2023-01-02    77
 2023-01-03    67
 2023-01-04    52
 2023-01-05    90
               ..
 2036-09-04    82
 2036-09-05    81
 2036-09-06    31
 2036-09-07    30
 2036-09-08    96
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_67': datetime
 2023-01-01    79
 2023-01-02    35
 2023-01-03    29
 2023-01-04     4
 2023-01-05    15
               ..
 2036-09-04    22
 2036-09-05    49
 2036-09-06    41
 2036-09-07    83
 2036-09-08    65
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_68': datetime
 2023-01-01    23
 2023-01-02    60
 2023-01-03    59
 2023-01-04    13
 2023-01-05    94
               ..
 2036-09-04    57
 2036-09-05     8
 2036-09-06    60
 2036-09-07    89
 2036-09-08    37
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_69': datetime
 2023-01-01    24
 2023-01-02    11
 2023-01-03    99
 2023-01-04    74
 2023-01-05    93
               ..
 2036-09-04    32
 2036-09-05    27
 2036-09-06     2
 2036-09-07    69
 2036-09-08    61
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_70': datetime
 2023-01-01    27
 2023-01-02     3
 2023-01-03    88
 2023-01-04    37
 2023-01-05    41
               ..
 2036-09-04    88
 2036-09-05     7
 2036-09-06    42
 2036-09-07    37
 2036-09-08    62
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_71': datetime
 2023-01-01    82
 2023-01-02    34
 2023-01-03     6
 2023-01-04    59
 2023-01-05    71
               ..
 2036-09-04    20
 2036-09-05    11
 2036-09-06    60
 2036-09-07     3
 2036-09-08    36
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_72': datetime
 2023-01-01    37
 2023-01-02    48
 2023-01-03    82
 2023-01-04    41
 2023-01-05    58
               ..
 2036-09-04    82
 2036-09-05    44
 2036-09-06    41
 2036-09-07    24
 2036-09-08    99
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_73': datetime
 2023-01-01    35
 2023-01-02    67
 2023-01-03    48
 2023-01-04    71
 2023-01-05    15
               ..
 2036-09-04    53
 2036-09-05    55
 2036-09-06    88
 2036-09-07    77
 2036-09-08    63
 Freq: D, Name: value, Length: 5000, dtype: int32,
 'series_74': datetime
 2023-01-01    45
 2023-01-02    91
 2023-01-03    44
 2023-01-04    31
 2023-01-05    59
               ..
 2036-09-04    11

In [4]:
series_no_idx = series.reset_index(["series_id", "datetime"])
series_no_idx

          series_id   datetime  value
0          series_1 2023-01-01     50
1          series_1 2023-01-02     25
2          series_1 2023-01-03     74
3          series_1 2023-01-04     31
4          series_1 2023-01-05     28
...             ...        ...    ...
2494995  series_499 2036-09-04     67
2494996  series_499 2036-09-05     75
2494997  series_499 2036-09-06     31
2494998  series_499 2036-09-07     11
2494999  series_499 2036-09-08     46

[2495000 rows x 3 columns]

In [7]:
%%timeit

series_no_idx.groupby('series_id', observed=True).size()
series_no_idx.groupby('series_id', observed=True).size()

321 ms ± 6.36 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
%%timeit

data_grouped = series.groupby('series_id', observed=True)
data_grouped.size()
data_grouped.size()

203 ms ± 12.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
%%timeit

not_valid_index = [
    1 
    for k, v in series_dict.items()
]

14.2 μs ± 347 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [19]:
_ = [v.index.freqstr for v in series_dict.values()]
type(_[0])

str

In [20]:
import pandas as pd

# Regular, con frecuencia
idx = pd.date_range('2024-01-01', periods=3, freq='D')
print(idx.freqstr)  # 'D'

# Irregular, sin frecuencia
idx2 = pd.DatetimeIndex(['2024-01-01', '2024-01-03', '2024-01-04'])
print(idx2.freq)      # None
print(idx2.freqstr)   # None

# Eliminar una fecha (pierde frecuencia)
idx3 = idx.delete(1)
print(idx3.freq)      # None
print(idx3.freqstr)   # None

D
None
None
None
None

In [22]:
pd.RangeIndex(start=0, stop=10, step=1, name='index', dtype='int64').freqstr

AttributeError: 'RangeIndex' object has no attribute 'freqstr'

In [23]:
exog = pd.DataFrame(
    {
        "exog_1": np.random.randint(1, 10, n),
        "exog_2": np.random.randint(1, 10, n),
        "exog_3": np.random.randint(1, 10, n),
        "exog_4": np.random.randint(1, 10, n),
        "exog_5": np.random.randint(1, 10, n),
        "exog_6": np.random.randint(1, 10, n),
    },
    index=pd.date_range(start="2023-01-01", periods=n, freq="D"),
)

In [27]:
not isinstance(exog.index, pd.MultiIndex)

True

In [28]:
exog.index.names

FrozenList([None])

In [26]:
not exog.index.names == ['series_id', 'datetime']

True