In [1]:
%load_ext autoreload
%autoreload 2
import sys
from pathlib import Path
path = str(Path.cwd().parent)
print(path)
sys.path.insert(1, path)

import numpy as np
import pandas as pd
import skforecast

print(skforecast.__version__)

/home/joaquin/Documents/GitHub/skforecast
0.19.0

In [4]:
from skforecast.preprocessing import reshape_series_exog_dict_to_long

In [15]:
series_dict = {
    "series_1": pd.Series(
        data=np.arange(3), index=pd.date_range(start="2020-01-01", periods=3, freq="D")
    ),
    "series_2": pd.Series(
        data=np.arange(3, 6),
        index=pd.date_range(start="2020-01-01", periods=3, freq="D"),
    ),
}

exog_dict = {
    "series_1": pd.DataFrame(
        data={
            "exog_1": np.arange(3),
            "exog_2": np.arange(10, 13),
            "exog_3": np.arange(20, 23),
        },
        index=pd.date_range(start="2020-01-01", periods=3, freq="D"),
    ),
    "series_2": pd.DataFrame(
        data={"exog_1": np.arange(3, 6), "exog_2": np.arange(13, 16)},
        index=pd.date_range(start="2020-01-01", periods=3, freq="D"),
    ),
}

series_df = reshape_series_exog_dict_to_long(series=series_dict, exog=exog_dict)
series_df

                      series_value  exog_1  exog_2  exog_3
series_id datetime
series_1  2020-01-01             0       0      10    20.0
          2020-01-02             1       1      11    21.0
          2020-01-03             2       2      12    22.0
series_2  2020-01-01             3       3      13     NaN
          2020-01-02             4       4      14     NaN
          2020-01-03             5       5      15     NaN

In [14]:
series_dict = {
    "series_1": pd.Series(
        data=np.arange(3), index=pd.date_range(start="2020-01-01", periods=3, freq="D")
    ),
    "series_2": pd.Series(
        data=np.arange(3, 6),
        index=pd.date_range(start="2020-01-01", periods=3, freq="D"),
    ),
}

exog_dict = {
    "series_1": pd.DataFrame(
        data={
            "exog_1": np.arange(3),
            "exog_2": np.arange(10, 13),
            "exog_3": np.arange(20, 23),
        },
        index=pd.date_range(start="2020-01-01", periods=3, freq="D"),
    ),
    "series_2": pd.DataFrame(
        data={"exog_1": np.arange(3, 6), "exog_2": np.arange(13, 16)},
        index=pd.date_range(start="2020-01-01", periods=3, freq="D"),
    ),
}
result = reshape_series_exog_dict_to_long(
    series=series_dict,
    exog=exog_dict
)
expected_result = pd.DataFrame(
    data={
        "series_value": [0, 1, 2, 3, 4, 5],
        "exog_1": [0, 1, 2, 3, 4, 5],
        "exog_2": [10, 11, 12, 13, 14, 15],
        "exog_3": [20, 21, 22, np.nan, np.nan, np.nan],
    },
    index=pd.MultiIndex.from_product(
        [["series_1", "series_2"], pd.date_range("2020-01-01", periods=3)],
        names=["series_id", "datetime"],
    ),
)
expected_result

                      series_value  exog_1  exog_2  exog_3
series_id datetime
series_1  2020-01-01             0       0      10    20.0
          2020-01-02             1       1      11    21.0
          2020-01-03             2       2      12    22.0
series_2  2020-01-01             3       3      13     NaN
          2020-01-02             4       4      14     NaN
          2020-01-03             5       5      15     NaN